[package]

name = "time"
version = "0.0.3"
authors = ["The Rust Project Developers"]
build = "build.rs"
license = "MIT/Apache-2.0"
homepage = "https://github.com/rust-lang/time"
repository = "https://github.com/rust-lang/time"
description = """
Utilities for working with time-related functions in Rust.
"""

[build-dependencies.gcc]
git = "https://github.com/alexcrichton/gcc-rs"
