[package]
name = "time"
version = "0.2.9"
authors = ["Jacob Pratt <the.z.cuber@gmail.com>"]
edition = "2018"
repository = "https://github.com/time-rs/time"
keywords = ["date", "time", "calendar", "duration"]
categories = ["date-and-time"]
readme = "README.md"
license = "MIT OR Apache-2.0"
# TODO(upstream) Add GitHub Actions badge once rust-lang/crates.io#1838 is merged.
description = "Date and time library. Fully interoperable with the standard library. Mostly compatible with #![no_std]."
build = "build.rs"

[package.metadata.docs.rs]
all-features = true
targets = ["x86_64-unknown-linux-gnu"]

[features]
default = ["deprecated", "std"]
deprecated = []
panicking-api = []
std = ["libc", "winapi", "stdweb", "standback/std"]

# Internal usage. This is used when building for docs.rs and time-rs.github.io.
# This feature should never be used by external users. It will likely be
# removed in the first release after the `doc_cfg` feature gets stabilized.
__doc = []

[dependencies]
cfg-if = "0.1.10"
rand = { version = "0.7", optional = true, default-features = false }
rustversion = "1"
serde = { version = "1", optional = true, default-features = false, features = ["derive"] }
standback = { version = "0.2", default-features = false }
time-macros = { version = "0.1", path = "time-macros" }

[workspace]
members = ["time-macros", "time-macros-impl"]

[target.'cfg(unix)'.dependencies]
libc = { version = "0.2", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["minwinbase", "minwindef", "timezoneapi"], optional = true }

[target.'cfg(cargo_web)'.dependencies]
stdweb = { version = "0.4", default-features = false, optional = true }

[build-dependencies]
rustversion = "1"
